[submodule "utils/spikingjelly"]
	path = utils/spikingjelly
	url = https://github.com/brseong/spikingjelly.git
[submodule "utils/SpykeTorch"]
	path = utils/SpykeTorch
	url = https://github.com/brseong/SpykeTorch.git
[submodule "utils/z3"]
	path = utils/z3
	url = https://github.com/Z3Prover/z3.git
